*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    line-height: 1.5;
}

@media (max-width: 460px){
    body{
        font-size: 10px;
    }
}

a {
    text-decoration: none;
}

.navbar li{
    list-style: none;
    color: #4d4e53;
    border-top:1px solid;
    border-color: black;
    position: relative;
    width: 100%;
}


.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    min-width: 290px;
    height: 100%;
    border-right: solid;
    border-color: grey;
}

.navbar ul{
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden ;
}

.navbar a{
    display: block;
    padding: .6em 2em;
    font-size: 1.25rem;
    color: black;
}

header{
    margin: 1em;
    text-align: center;
    font-size: 1.2rem;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

#main-doc header{
    text-align: left;
    margin: 0;
}
